.slide {
  overflow-x: hidden;
}

.slide_list {
  display: flex;
  padding-left: 0;
}

.slide_item {
  list-style: none;
  padding: 0 10px;
  filter: brightness(30%);
}

.slide_item.active {
  filter: brightness(100%);
}

.list_img {
  width: 66.25rem;
  cursor: pointer;
}
